.match-explanation {
  border: 0.2rem solid var(--purple);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  padding: 1rem;
  background-color: white;
  color: var(--purple);
  height: 9.5rem;
}

@media (width <= 1150px) {
  .match-explanation {
    height: max-content;
  }
}

.h-explanation {
  margin: 0;
}

.p-explanation {
  font-weight: 500;
}
