.backdrop {
  position: fixed;
  top: calc(0rem - var(--main-margin-top));
  width: 100%;
  height: calc(100vh + var(--main-margin-top));
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.modal {
  position: absolute;
  width: 80vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
}

.header {
  background: rgb(53, 51, 51);
  padding: 1rem;
  color: white;
}

.header h2 {
  margin: 0;
  color: white;
}

.content {
  padding: 1rem;
}
