.dropdown {
  position: absolute;
  box-sizing: border-box;
  border: 0.2rem solid var(--blue);
  border-radius: var(--border-radius1);
  top: 80px;
  padding: 1rem;
  overflow: hidden;
  background-color: black;
}
