.main {
  margin-top: calc(var(--nav-height) + var(--main-margin-top));
  flex: 1;
}

@media (width <= 520px) {
  .main[pathname="/question"] {
    margin-top: calc(var(--nav-height) + 0.5rem);
    margin-bottom: 0.5rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }
}
