.header {
  width: 100%;
  z-index: 100;
  height: var(--nav-height);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--purple);
  color: white;
}

.header .game-name {
  padding-left: 3%;
}

.game-name a {
  cursor: pointer;
}

@media (width <= 575px) {
  .game-name-span {
    display: block;
    margin: 0 auto;
  }
}

.header div a {
  text-decoration: none;
  color: inherit;
  font-size: 1.5rem;
}

.nav {
  padding-right: 3%;
}

.nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding-left: 0;
}

.nav li {
  margin-left: 1.5rem;
  font-size: 1.25rem;
  padding-bottom: "2rem";
  margin-top: "2rem";
}

.nav a {
  text-decoration: none;
  color: white;
}

.nav a:hover,
.nav a:active,
.nav a.active {
  color: white;
  text-decoration: underline;
}

.nav .username {
  cursor: pointer;
}

@media (width <= 575px) {
  .responsive {
    transform: scale(0.97);
  }
}
