.page {
  line-height: 200%;
  padding-bottom: 1rem;
  margin: auto 0;
  margin-top: calc(0rem - var(--main-margin-top));
}

@media (width <= 428px) {
  .page-without-image {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

ul li::marker {
  color: var(--blue);
}

ul li ul li::marker {
  color: var(--red);
}

.top-img {
  object-fit: cover;
  width: 100%;
  height: 40vh;
}

.list {
  padding-left: 1rem;
}

.list li {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
}

.list li ul li {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.section-1 {
  margin: 3rem 0;
  border: 2px solid var(--purple);
  padding: 2rem;
  border-radius: var(--border-radius);
}

@media (width <= 428px) {
  .section-1 {
    font-size: 0.9rem;
    padding: 1rem;
  }
}

.section-2 {
  margin: 2rem 0;
  border: 1px solid var(--red);
  padding: 1rem;
  border-radius: var(--border-radius);
}

.section-3 {
  margin: 1rem 0;
  border: 1px solid var(--blue);
  padding: 1rem;
  border-radius: var(--border-radius);
}

.to-right-section {
  text-align: justify;
  text-align: right;
}

.to-left-section {
  text-align: justify;
  text-align-last: left;
}

.justify-section {
  text-align: justify;
}

.story-set-img {
  width: 25%;
  float: left;
  shape-outside: url("../../imgs/Study\ abroad-bro.png");
  shape-margin: 2rem;
}

.stack-list {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0;
}

@media (width <= 560px) {
  .stack-list {
    flex-direction: column;
  }
  .stack-list li button {
    transform: scale(0.9);
  }
}

.stack-list li button {
  width: 10rem;
  height: 10rem;
  font-weight: 600;
  padding: 1rem;
  border-color: var(--purple);
  background-color: #ffffff;
  color: var(--purple);
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}

.stack-list li button:hover {
  background-color: var(--purple);
  color: #ffffff;
}

.stack-list li button .tech-side {
  font-size: 1.3rem;
}

.stack-list li button div {
  margin: 0.7rem 0;
}

.technology {
  text-decoration: none;
  color: inherit;
}

.technology:hover {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  color: white;
}

.icon:hover {
  scale: 1.5;
}

.link {
  color: var(--purple);
}

.link:hover {
  position: relative;
  bottom: 2px;
}

.link-in-page {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

.link-in-page:hover {
  position: relative;
  bottom: 2px;
}

.sporcle-link {
  word-wrap: break-word;
}
