.page {
}

.top-img {
  object-fit: cover;
  width: 100%;
  height: 45vh;
}

.page-with-no-img-top {
  margin: 1rem 2rem;
}

.section-1 {
  margin: 3rem 0;
  border: 1px solid red;
  padding: 1rem;
}

.section-2 {
  margin: 2rem 0;
  border: 1px solid green;
  padding: 1rem;
}

.section-3 {
  margin: 1rem 0;
  border: 1px solid blue;
  padding: 1rem;
}

.stack-list {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}

.stack-list li button {
  font-size: inherit;
  font-family: inherit;
  font-weight: 600;
  padding: 1rem;
  border-radius: 5px;
  border-color: #7e57c2;
  background-color: #ffffff;
  color: #7e57c2;
}

.stack-list li button:hover {
  background-color: #7e57c2;
  color: #ffffff;
}

.technology {
  text-decoration: none;
}

.technology:hover {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}
