.option {
  cursor: pointer;
  flex: 0 0 43%;
}

.true {
  color: white;
  background-color: rgb(0, 121, 74);
}

.false {
  color: white;
  background-color: rgb(255, 57, 57);
}

.true-when-false {
  box-sizing: border-box;
  border: 0.3rem solid rgb(0, 121, 74);
  color: rgb(0, 121, 74);
}
