.level {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin: 1rem;
  padding: 0;
  height: 6rem;
  width: 6rem;
  cursor: pointer;
  float: left;
  position: relative;
  font-size: 93%;
}

.level[level="beginner"]:hover {
  background-color: var(--beginner);
}

.level[level="amateur"]:hover {
  background-color: var(--amateur);
}

.level[level="medium"]:hover {
  background-color: var(--medium);
}

.level[level="hard"]:hover {
  background-color: var(--hard);
}

.level[level="expert"]:hover {
  background-color: var(--expert);
}
