.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5vh;
  height: 75vh;
  width: 100%;
}

.form .sign-in p,
.form .sign-up p {
  display: inline-block;
}

.form .forgot-password {
  margin: 1rem 0;
}
