.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 0;
  margin-right: 0;
  height: 75vh;
  width: 100%;
}

.form .sign-in p,
.form .sign-up p {
  display: inline-block;
}
