.item {
  font-size: calc(var(--content-font-size) * 1.5);
  margin: 1.3rem 0;
}

@media (width <= 700px) {
  .item {
    font-size: 1.5rem;
  }
}

@media (width <= 600px) {
  .item {
    font-size: 1.3rem;
  }
}

@media (width <= 500px) {
  .item {
    font-size: 1.2rem;
  }
}

@media (width <= 600px) {
  .item {
    font-size: 1rem;
  }
}

.item .title {
  font-weight: 600;
}
