.tooltip {
  background: rgba(0, 0, 0, 0.8);
  border: 3px solid black;
  border-radius: 8px;
  color: white;
  overflow-y: visible;
  max-height: 80vh;
}

.tr td {
  padding: 0.01rem;
}

.country-img {
  position: absolute;
  line-height: 100%;
  margin-left: 0.7rem;
}

.flag-img {
  border-radius: 3px;
}
