.tooltip {
  background: rgba(0, 0, 0, 0.8);
  overflow: auto;
  border: 3px solid black;
  border-radius: 8px;
  color: white;
  max-height: 80vh;
}

@media (width <= 655px) {
  .tooltip {
    font-size: 0.8em;
  }
  .table {
    width: 97vw;
  }
}

.tr td {
  padding: 0.01rem;
}

.country-img {
  position: absolute;
  line-height: 100%;
  margin-left: 0.7rem;
}

.flag-img {
  border-radius: 3px;
}
