.levels-and-check-all {
  display: flex;
  margin: 0 1rem;
}

.levels {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  justify-content: space-around;
}

.check-all {
  width: max-content;
  display: inline-block;
}

@media (width <= 655px) {
  .levels-and-check-all {
    display: block;
  }
  .levels {
    width: 100%;
  }
  .check-all {
    margin-bottom: 1rem;
  }
}

.check-all-checkbox,
.check-all-label {
  cursor: pointer;
}

.check-all-label {
  width: 90%;
  white-space: nowrap;
}

.check-all-label-active {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.check-all-checkbox {
  z-index: 1;
  position: absolute;
}
