body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-horizontally {
  display: table;
  margin: 0 auto;
}

.centered-horizontally2 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

:root {
  --grey: rgb(53, 51, 51);
  --color-nav: #88dfdf;
  --border-radius1: 14px;
}
